.App {
  text-align: center;
  background-color: skyblue;
  width: 60%;
  margin: auto;
  margin-top: 100px;
  height: 250px;
}
button{
  margin-left: 10px;
}

button:hover
{
  background-color: red;
  border: 1px solid black;
  color: white;
  font-weight: bold;
   box-shadow: 5px 5px 2px 1px rgb(241, 114, 114); ;
}
.prev{
  margin-left: 0px;
}
input{
  margin-left: 20px;
}


